@model ECommerce.Dashboard.Models.Products.ProductListViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="mb-3 row">
    <div class="col">
        <h1 class="m-0">Products</h1>
    </div>
    <div class="col text-end">
        <a asp-action="Create" class="btn btn-outline-primary"> New</a>
    </div>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<div class="mb-5">
    <form asp-action="Index" method="get">
        <div class="mb-3 input-group">
            <input asp-for="SearchTerm" class="form-control" placeholder="Search products">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

        <div class="mb-3">
            <select class="form-select" asp-items="Model.CategorySelect" asp-for="Category">
                <option selected value="">- All -</option>
            </select>
        </div>
    </form>
    
    <div class="mb-3">
        <a asp-controller="Categories" asp-action="Index">Manage Categories</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Sku</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Stock</th>
            <th class="text-center" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td><img src="https://placehold.co/64" alt="some image"></td>
                <th scope="row">@product.Sku</th>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
                </td>
                <td>@product.Category?.Name</td>
                <td class="text-center">$ @product.Price</td>

                @if (product.Stock == 0)
                {
                    <td class="text-danger text-center">@product.Stock</td>
                }
                else
                {
                    <td class="text-center">@product.Stock</td>
                }
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@product.Id" title="Edit product" class="btn btn-sm btn-outline-primary">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
